



<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
  </head>
  <body>
    <!-- header from master --> 
    <!-- start main -->
    <main>
      <div class="section">
        <h2>Inspiration</h2> 
        <p>CitySense was inspired by a common real-life problem: many people move to new cities for study, work, or travel… only to discover unexpected issues like noise, insects, unsafe neighborhoods, or poor-quality water. There is no single trusted platform that gives a clear picture of the real living conditions in any area. I wanted to build a tool that empowers people to make smarter decisions before they move.</p>
        
      </div>
      <div class="section">
        <h2>What it does</h2> 
        <p>
        CitySense analyzes any city or neighborhood and generates a detailed AI-powered report that shows:
         <ul>
           <li>
              Noise levels
             
           </li>
           <li>Air and water quality</li>
           <li>
             Mosquito and insect density
           </li>
           <li>Traffic and roadwork issues
             
           </li>
           <li>
             Neighborhood safety
           </li>
           <li>Average rent prices
             
           </li>
           <li>Weather patterns
             
           </li>
           <li>User reviews and local insights
             
           </li>
         </ul>
        <p>
          
         Users can also enter a specific address, and the AI will generate a personalized risk and quality-of-life analysis within seconds.
        </p>
</p>
        
      </div>
      <div class="section">
        <h2>How we built it</h2> 
        <p></p>
        
      </div>
      <div class="section">
        <h2>Challenges we ran into</h2> 
        <p></p>
        
      </div>
      <div class="section">
        <h2>Accomplishments that we're proud of</h2> 
        <p></p>
        
      </div>
      <div class="section">
        <h2>What we learned</h2> 
        <p></p>
        
      </div>
      <div class="section">
        <h2>What's next for CitySense</h2> 
        <p></p>
        
      </div>
    </main>
    <!-- end main --> 
    <footer>
      <p>made by Nasser Attia </p> 
      <p>privcy and us safe</p>
    </footer>
  </body>
</html>