<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
  </head>
  <body>
    <header>
      <h1>CitySense</h1>
      <nav>
        <!-- if --> 
        <h2>name city</h2> 
        <!-- elif -->
        <h2>name city : Area </h2> 
        <!-- else --> 
        <h2> </h2> 
        
      </nav> 
      <main>
        <!-- map for Area -->
        <div class="map_area">
          
        </div>
        <!-- wither -->
        <div class="wither">
          
        </div>
        <!-- model-->
        <div class="model">
          
        </div> 
        
        
      </main> 
      
      <footer>
        <!-- privcy for data --> 
        
        
        
        
      </footer>
    </header>
  </body>
</html>