{% extends "base/base.html" %}
{% load static %}
{% block title %}CitySense | profile {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href=" {% static 'css/users/profile.css' %}">
{% endblock %}
{% block content %}

<div class="dashboard">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2 class="logo">CitySense</h2>
        <ul class="menu">
            <li class="active">Profile</li>
            <li><a href="{% url 'reports:reports' %}" style='text-decoration: none;color: #fff;'>Reports</a></li>
            
            <li>
                <button id="open-profile-modal" class="btn primary">
    Edit Profile
</button>

            </li>
              <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button type="submit" style='background-color: #111827;border: none;color: #fff;' class='bt_fo'>Logout</button>
              </form>
            </li>
        </ul>
    </aside>

    <!-- Main Content -->
    <main class="content">

        <!-- Profile Header -->
        <section class="profile-header">
            <div class="avatar-ring ">
                <div class="avatar-img">
                {% if context.profile.avatar %}
                    <img src="{{ context.profile.avatar.url }}" alt="ar Avatar">
                    <span class="online-dot"></span>
                {% else %}
                    <img src="{% static 'images/default-avatar.png' %}" alt="Avatar">
                    <span class="online-dot"></span>
                {% endif %}
                
                </div>
            </div>
         
            <div class="info">
                <h1>{{ context.user.username }}</h1>
                {% if context.profile.bio %}
                <p><strong>Bio:</strong> {{ context.profile.bio }}</p>
                {% endif %}
                
            </div>
        </section>

        <!-- Profile Details -->
        <section class="profile-details">
            <div class="card">
                <h3>Email</h3>
                <p>{{ context.user.email }}</p>
            </div>

            <div class="card">
                <h3>Location</h3>
                <p>{{ context.profile.city|default:"Not set"  }}</p>
            </div>

            <div class="card">
                <h3>Member Since</h3>
                <p>{{ context.user.date_joined|date:"M Y" }}</p>
            </div>
        </section>

        <!-- About -->
        <section class="about">
            <h2>About Me</h2>
            <p>
                Passionate software engineer with a focus on AI, web development,
                and building scalable systems that actually work in real life.
            </p>
        </section>
        
    </main>
    
</div>


   
<div id="profile-modal" class="modal hidden">
    <div class="modal-box">

        <h3>Edit Profile</h3>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label>Bio</label>
                {{ context.form.bio }}
            </div>

            <div class="form-group">
                <label>City</label>
                {{ context.form.city }}
            </div>

            <div class="form-group">
                <label>Avatar</label>
                {{ context.form.avatar }}
            </div>

            <div class="actions">
                <button type="submit" class="btn primary">Save</button>
                <button type="button" class="btn secondary" id="close-profile-modal">
                    Cancel
                </button>
            </div>
        </form>

    </div>
</div>
{% if context.form.errors %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("profile-modal").classList.remove("hidden");
    });
</script>
{% endif %}


<script>
document.addEventListener("DOMContentLoaded", () => {
    const modal = document.getElementById("profile-modal");

    document
        .getElementById("open-profile-modal")
        .addEventListener("click", () => {
            modal.classList.remove("hidden");
        });

    document
        .getElementById("close-profile-modal")
        .addEventListener("click", () => {
            modal.classList.add("hidden");
        });
});
</script>

{% endblock %}

{% block extra_js %}




{% endblock %}